########################## MyWebsite/settings/production.py ##########################
# Running the production settings.
DJANGO_SETTINGS_MODULE="MyWebsite.settings.production"

# Ensure that this is the same as the database service name.
DATABASE_HOST=DB_HOST