# All the environment variables here will be shared by multiple services that require same envs.
# DRY (Dont Repeat Yourself).
PG_DJ_DATABASE=YOUR_DB_NAME
PG_DJ_USER=YOUR_DB_USER
PG_DJ_PASSWORD=YOUR_DB_PASSWORD