########################## MyWebsite/settings/development.py ##########################
# Running the development settings.
DJANGO_SETTINGS_MODULE="MyWebsite.settings.development"

# Ensure that this is the same as the database service name.
DATABASE_HOST=DB_HOST