########################## MyWebsite/settings/production.py ##########################
# Running the production settings.
DJANGO_SETTINGS_MODULE="MyWebsite.settings.production"

# Ensure that this is the same as the database service name.
DATABASE_HOST=DB_HOST

# The port to serve the django website on. This should be a number for example: DJANGO_PORT=9324
DJANGO_PORT=YOUR_DESIRED_PORT